<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" xmlns:og="http://ogp.me/ns#">

<head>
    <meta charset="UTF-8">
    
    <title>編集</title>
   
    

</head>

<body class="index">
    <div class="container">
    
        <form name='regist' action='/regist_confirm.php' method="POST" class="regist" onsubmit="return check();">
            <div>
                <h2>変更</h2>
    
                店舗名:<input type='text' name='name'><br>
                出勤者:<input type='text' name='studentID'><br>
                出前者:<input type="text" name="email"><br>
                店舗在任:<input tupe="text" name="password"><br>
                必要人数:<input tupe="text" name="repassword"><br>
            </div>
    
            <input type='submit' value='登録' name='登録'>
        </form>
    
    </div>

</body>

</html>