<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" xmlns:og="http://ogp.me/ns#">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="">
	<meta property="fb:admins" content="">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="no-cache">
	<meta name="format-detection" content="telephone=no">
	<link rev="made" href="">
	<link rel="index" href="">
	<link rel="shortcut icon" href="">
	<link rel="icon" href="">
	<link rel="apple-touch-icon" href="">
	<link rel="canonical" href="">
	<meta property="og:url" content="">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta property="og:description" content="">
	<meta property="og:image" content="">
	<title>店舗状況</title>
	<meta property="og:title" content="">
	<link rel="stylesheet" type="text/css" href="/template/Style.css">
	
</head>

<body class="index">
	<table>
		<caption>現在の状況   <?php echo date("Y/m/d H:i:s") ?></caption>
		<tr style="background:#ccccff">
			<th>店舗名</th>
			<th>出勤者</th>
			<th>出前者</th>
			<th>店舗在任</th>
			<th>必要人数</th>
		</tr>
		<tr>
			<td>A</td>
			<td>３</td>
			<td>1</td>
			<td>2</td>
			<td>-2</td>
		</tr>
		<tr>
			<td>B</td>
			<td>5</td>
			<td>3</td>
			<td>2</td>
			<td>0</td>
		</tr>
		<tr>
		<td>C</td>
		<td>5</td>
		<td>3</td>
		<td>2</td>
		<td>0</td>
		</tr>
	</table>
	

	<input type="button" id="ch_add" value="変更ボタン">

</body>
</html>


