<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" xmlns:og="http://ogp.me/ns#">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="">
	<meta property="fb:admins" content="">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="no-cache">
	<meta name="format-detection" content="telephone=no">
	<link rev="made" href="">
	<link rel="index" href="">
	<link rel="shortcut icon" href="">
	<link rel="icon" href="">
	<link rel="apple-touch-icon" href="">
	<link rel="canonical" href="">
	<meta property="og:url" content="">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta property="og:description" content="">
	<meta property="og:image" content="">
	<title>店舗状況</title>
	<meta property="og:title" content="">
	<link rel="stylesheet" type="text/css" href="/template/Style.css">
	
</head>

<body class="index">
	<header>
		<hi>店舗管理</hi>
	</header>
	
	
	<div id="main">
		<h2>INFORMATION</h2>
		
		<dl class="info">
			<dt><span>2018-05-02</span></dt>
			<dd>Eプロジェクト活動報告 岩手県立大学広報Archに掲載されています。
				<br>
				<a href="https://www.iwate-pu.ac.jp/web-ipu/backnumber/vol74/index.html">詳しくはこちら</a>(岩手県立大学のページへ移動します。)
			</dd>
		   <dt><span>2018-03-19</span></dt>
		   <dd>
				 試験稼働中
		   </dd>
			<dt><span>2018-03-19</span></dt>
		   <dd>
				 サイトオープン
		   </dd>
		</dl>
	</div><!-- /#main -->

	<div id="sub">
		<div class="bnr">
			<p>最新情報はこちらから</p>
			<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffukkougirls%2F&tabs=timeline&width=340&height=750&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="340" height="750" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" >
			</iframe>
			
		</div><!-- /.bnr -->
	</div><!-- /#sub -->
</div><!-- /#contents -->
	
	




</div>
</body>
</html>


